<div class="container">
  
  <form>
    <h3>E-mail küldése</h3>
    <label for="contact_name" class="input_lab">
      Név:
      <input type="text" name="contact_name" id="contact_name" placeholder="Pl.: John Doe">
    </label>
    <label for="contact_email" class="input_lab">
      E-mail:
      <input type="email" name="contact_email" id="contact_email" placeholder="Pl.: john.doe@example.com">
    </label>
    <label for="contact_body" class="input_lab">
      Üzenet:
      <textarea name="contact_body" id="contact_body" cols="30" rows="10" placeholder="Üzenet..."></textarea>
    </label>
    <input type="submit" value="Küldés">
  </form>
</div>
