.container {
  max-width: 1000px;
  margin: 0 auto;

  img {
    width: 100%;
    margin: 25px auto;
    max-height: 550px;
    object-fit: cover;
  }

  .header {
    display: block;

    height: 350px;
    width: 100%;
    padding: 0;
    margin-top: 75px;
    margin-bottom: 35px;

    .header_data {
      display: flex;

      height: calc(100% - 100px);
      width: calc(100% - 100px);
      margin: 0;
      padding: 50px;
      color: #fff;

      background-color: rgba(0, 0, 0, 0.2);

      align-content: flex-end;
      justify-content: space-between;
      flex-direction: column;

      h1 {
        font-size: 2.2em;
        font-weight: 500;
        letter-spacing: 0.25em;
        text-transform: uppercase;
      }

      p {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.25em;
      }
    }
  }
}
