@import url(../css/input.scss);

.user_info {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;

    .user_name {
        width: calc(100% - 40px);
        display: flex;
        height: 150px;
        background-color: #f5f5f5;
        align-items: flex-end;
        padding: 15px 20px;

        h1 {
            font-size: 1.8em;
            font-weight: 600;
            margin: 0;
            padding: 0;
        }
    }

    p {
        margin: 10px 0;
    }

    .btn_cont {
        display: flex;
        width: 100%;
        margin: 20px 0;

        flex-direction: row;
        flex-wrap: wrap;

        button {
            width: max-content;
            height: max-content;
            padding: 15px 25px;
            margin-right: 10px;
            background-color: blue;
            color: #fff;
            border: none;
            margin-top: 10px;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    .file_lab {
        display: block;
        margin: 50px 0;
    }
}